@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Salary System</h1>
    <p class="lead">The salary system was built to give you the possibility to compare your salary to others.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Compare salaries</h2>
        <p>
           Salary System gives you the chance to compare your salary to your friends, your coworker or someone across the worlds salary!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calculate your average</h2>
        <p>With our tools, you can calculate your average salary and compare it to other workers salary in the same industry.
        Are you getting more or less paid than others?</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find out more</h2>
        <p>Check out statistics, read about contracts, taxes, trade unions and more. Make yourself informed about the important things in life!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>